.navhome {
    background-color: #dc3545 !important;
    border: none;

}

.navhome .navbar-nav .nav-link {
    color: #fff;
}

.navhome .navbar-brand {
    color: #fff;
    font-weight: bold;
}

/*.carousel-content {
	height: 580px;
}*/

.carousel-content {
    height: 480px;
}

.carousel-item,.carousel-item img {
    height: 100%;
}



.about {
    /*margin-left: 450px;*/
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.piz-type {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#colorpiz {
    height: 600px;
    margin-left: 80px;
}

/* #textpiz {
} */

.pizpic {
    color: white;
}

.piz-head{
    font-weight: bold;
}

.card-imgheight {
    height: 250px;
    padding: 8px;
}

span + span {
    margin-left: 5px;
}

.pepper {
    margin-left: 100px;
}

.footer {
    background-color: #dc3545;
    height: 70px;
    padding-top: 1.5rem;
    color: white;
}

.text-move {
    margin-left: 450px;
}

.mainBox {
    margin-top: 10rem;
    margin-left: 4rem;
    border: 1px solid grey;
    border-radius: 5px;
    height: 18rem;
    width: 55rem;
    display: flex;
    overflow: hidden;
    color: rgba(2, 2, 8, 0.925);
}

.imgBox {
    height: 100%;
    width: 15rem;
    padding-top: 10px;
    overflow: hidden;
}

.imag {
    width: 150%;
    height: 98%;
}

/* .pizza-types {
}

.resiza {
} */

